/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: "Montserrat", sans-serif;
  background: url(../img/footprints.png);
  background-size: 400px;
}

/*moves modal to front*/
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place front is invalid - may break your css so removed */  
    padding-top: 100px; /* Location of the box - don't know what this does?  If it is to move your modal down by 100px, then just change top below to 100px and remove this*/
    left: 0;
    right:0; /* Full width (left and right 0) */
    top: 0;
    bottom: 0; /* Full height top and bottom 0 */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 9999; /* Sit on top - higher than any other z-index in your site*/
}

/*accordion search bar*/
#accordion_search_bar {
    display: block;
    margin: 10px auto;
    width: 100%;
    padding: 7px 10px;
    border: 1px solid gray;
    border-radius: 25px;
    outline: 0;
  }

.btn-link {
    color: #ee0979;
}

.btn-primary {
    color: black;
    background-color: transparent;
    border-color: transparent;
}

.btn-primary:hover {
    background-color: gray;
    background-border: gray;
}

.fa-sms {
    font-size: 30px;
}

/*breed-list route*/
#breed-container, #traits-container {
    padding-left: 200px;
    padding-right: 200px;
    padding-top: 100px;
}

.accordion-img {
    float: left;
}

/*login and favorites icon*/
.fa-user, .fa-heart {
    padding-left: 20px;
    color: #ee0979;
}

.navbar {
    padding-left: 80px;
    padding-right:80px;
}

.row {
    justify-content: center;
}

/*dog card styling!*/
.col-3 {
    padding-bottom: 60px;
}

.card {
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
}
.card-img {
    width: 100%;
    height: 28vw;
    object-fit: cover;
}

.card-img-overlay {
    top: auto;
    background-color: #ee0979;
    opacity: 0.8;
}

.card-title {
    margin-bottom: 0; 
}

/*homepage padding*/
.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.trait-tooltips button {
    display: none;
}

.top-ten button {
    display:none
}

.top-ten-button {
    padding-bottom: 7px;
    padding-left:0px;
    white-space: normal;
    width: 100%;
    color: black;
    background-color: white;
    border-color: white;
}

.top-ten-button:hover, .trait-tooltips button:hover, .trait-tooltipss button:hover {
    color: white;
    background-color: gray;
    border-color: gray;
}

#top-ten-breeds {
    border-right: 5px solid #7f7f7f;
}
.matches-container {
    display:none;
    margin-top: 100px
}

.matches-containerr {
    margin-top: 100px;
}

#middle-border {
      background-color: blue;
      height: 75%;
      flex-grow: 1;
      max-width: 2px;
      z-index: 0;
    }

/*form styles*/
#traits-form {
    text-align: center;
    position: relative;
    margin-top: 100px;
}

#traits-form fieldset, .matches-container, .matches-containerr {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#traits-form fieldset:not(:first-of-type) {
    display: none;
}

.trait-tooltips, .trait-tooltipss {
    text-align: center;
}

/*buttons*/
.trait-tooltips button, .trait-tooltipss button {
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#traits-form .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 10px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#traits-form .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}