/*custom font*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);

.row {
    justify-content: center;
}

.card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

.container-fluid {
    padding-left: 50px;
    padding-right: 50px;
}

.trait-tooltips button {
    display: none;
}

.top-ten button {
    display:none
}

.matches-container {
    display:none;
    margin-top: 60px
}

/*form styles*/
#traits-form {
    text-align: center;
    position: relative;
    margin-top: 50px;
}

#traits-form fieldset, .matches-container {
    background: white;
    border: 0 none;
    border-radius: 0px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;
    box-sizing: border-box;

    /*stacking fieldsets above each other*/
    position: relative;
}

/*Hide all except first fieldset*/
#traits-form fieldset:not(:first-of-type) {
    display: none;
}

.trait-tooltips {
    text-align: center;
}

/*buttons*/
.trait-tooltips button {
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#traits-form .action-button {
    width: 100px;
    background: #ee0979;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 25px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 5px;
}

#traits-form .action-button:hover, #msform .action-button:focus {
    box-shadow: 0 0 0 2px white, 0 0 0 3px #ee0979;
}

/*headings*/
.fs-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #2C3E50;
    margin-bottom: 10px;
    letter-spacing: 2px;
    font-weight: bold;
    text-align: center;
}

.fs-subtitle {
    font-weight: normal;
    font-size: 15px;
    color: #666;
    margin-bottom: 20px;
}