{% extends 'base.html' %}
{% block content %}

<div id="dog-list-block">
    <h2>Dog breeds that match your preferences!</h2>
    You said the following traits were most important to you:</br>
    {{traits[0]}}, {{traits[1]}}, {{traits[2]}}</br></br>

        <ul>
        {% for dog in dogs %}
            <li> {{ dog[0] }}</a>
            {% endfor %}
        </ul>

    {% for photo in photos %}
        {% if photo['@size'] == 'x' %}
            {{ photo['$t'] }}
        {% endif %}
    {% endfor %}

</div>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="http://photos.petfinder.com/photos/pets/42394544/1/?bust=1533503229&width=500&-x.jpg/100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src=".../100px180/" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}