<!DOCTYPE html>
<html lang="en">

<head>
  <title>DogMatch</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="static/styles.css">
</head>

<body>
<nav class="navbar navbar-dark bg-dark justify-content-between">
  <a class="navbar-brand" style="color:white">DOGS!!!!</a>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</nav>

<div class="container-fluid" style="height:600px">
    <div class ="row">
        <div class="dog-quiz">
            <h1>Dogs!!</h1>

            <form id="traits-form" method="post" action="/dog-list.json">
                <fieldset>
                    <h2 class="fs-title">Q Category 1 Here</h2>
                    <h3 class="fs-subtitle">Dog trait question?</h3>
                    <select name="pos_trait1" id="pos_trait1">
                    {% for trait in traits %}
                        <option value="{{ trait[0] }}">{{ trait[0] }}</option>
                    {% endfor %}
                    </select>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Q Category 2 Here</h2>
                    <h3 class="fs-subtitle">Dog trait question?</h3>
                    <select name="pos_trait2" id="pos_trait2">
                    {% for trait in traits %}
                        <option value="{{ trait[0] }}">{{ trait[0] }}</option>
                    {% endfor %}
                    </select>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Q Category 3 Here</h2>
                    <h3 class="fs-subtitle">Dog trait question?</h3>
                    <select name="pos_trait3" id="pos_trait3">
                    {% for trait in traits %}
                        <option value="{{ trait[0] }}">{{ trait[0] }}</option>
                    {% endfor %}
                    </select>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Q Category 4 Here</h2>
                    <h3 class="fs-subtitle">Dog trait question?</h3>
                    <select name="pos_trait4" id="pos_trait4">
                    {% for trait in traits %}
                        <option value="{{ trait[0] }}">{{ trait[0] }}</option>
                    {% endfor %}
                    </select>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Q Category 5 Here</h2>
                    <h3 class="fs-subtitle">Dog trait question?</h3>
                    <select name="pos_trait5" id="pos_trait5">
                    {% for trait in traits %}
                        <option value="{{ trait[0] }}">{{ trait[0] }}</option>
                    {% endfor %}
                    </select>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                </fieldset>
            </form>
        </div>

        <div class="matches-container"> 
            <div id="dog-matches">
            </div>
            </br>
            </br>

            <div class="row" style="border:solid">
                <div class="col-3 top-ten"> 
                {% for breed in breeds %}
                    <button id=top-ten-{{ breed[0]|replace(" ", "-") }} data-desc="desc-{{ breed[0]|replace(" ", "-") }}"> {{breed[0]}} </button>
                {% endfor %}
                </div>
                <div class="col-3 top-ten">
                    <img src="/static/dog.jpg">
                </div>
                <div class="col-6" id="breed-desc" style="height:420px;width:550px;overflow:auto;">
                    {{breeds[28][1]}}
                </div>  
            </div>
            </br>
            </br>

            <div class="trait-tooltips" style="margin:auto">
            {% for trait in traits %} 

                <button id="tooltip-{{ trait[0]|replace(" ", "-") }}" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{trait[1]}}">{{trait[0]}}</button>

            {% endfor %}
            </div>

            <button id="retake-quiz" hidden="true"> Retake Quiz! </button>

        </div>

    </div>
</div>
</br>
</br>
</br>

<div class="container-fluid">
    <div class="row" id="dog-cards">
        {% for dog in dogs %}
        <div class="col-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{dog['photos']}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{dog['name']}}</h5>
                    <p class="card-text">{{dog['desc']}}</p>
                    <a href="#" class="btn btn-primary">Read More!</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script src="http://code.jquery.com/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="../static/js/breeds.js"></script>

</body>
</html>