{% extends 'base.html' %}
{% block content %}

<div class="container-fluid">
    <div class ="row">
        <div class="dog-quiz">
            <form id="traits-form" method="post" action="/dog-list.json">
                <fieldset>
                    <h2 class="fs-title">Friendliness</h2>
                    <h3 class="fs-subtitle">Friendliness towards other dogs, humans and kids are very different things! Which of the following is most important for you?</h3>
                    <div class="radio">
                        <label><input type="radio" name="trait1" value="Friendly Toward Strangers">
                        I want my dog to be friendly towards strangers.</label></br>
                        <label><input type="radio" name="trait1" value="Dog Friendly"> 
                        I want my dog to be friendly towards other dogs.</label></br>
                        <label><input type="radio" name="trait1" value="Incredibly Kid Friendly Dogs"> 
                        I want my dog to be very kid friendly.</label>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Energy Level</h2>
                    <h3 class="fs-subtitle">Breeds that were originally bred for physically demanding jobs tend to have high-energy levels. </br>Some dogs require a lot of exercise while others are the equivalent of a 'couch potato'. Which of the following best fits your lifestyle?</h3>
                    <div class="radio">
                        <label><input type="radio" name="trait2" value="Energy Level">
                        I want my dog to have a lot of energy.</label></br>
                        <label><input type="radio" name="trait2" value="Potential For Playfulness"> 
                        I want my dog to be very playful.</label></br>
                        <label><input type="radio" name="trait2" value="Tolerates Being Alone"> 
                        I want my dog to tolerate being alone.</label>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Lifestyle & Environment</h2>
                    <h3 class="fs-subtitle"> Dogs with short coats and little body fat are vulnerable to the cold. Breeds with short noses cannot pant as well to cool-off. </br>Or if you won't spend too much time outside, perhaps you are looking for the qualities that make a good apartment dog. Which of the following best fits your needs? </h3>
                    <div class="radio">
                        <label><input type="radio" name="trait3" value="Tolerates Hot Weather">
                        I want my dog to tolerate hot weather.</br></label></br>
                        <label><input type="radio" name="trait3" value="Tolerates Cold Weather"> 
                        I want my dog to tolerate cold weather.</br></label></br>
                        <label><input type="radio" name="trait3" value="Adapts Well to Apartment Living"> 
                        I want my dog adapt well to apartment living.</label>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                 <fieldset>
                    <h2 class="fs-title">Lifestyle & Environment</h2>
                    <h3 class="fs-subtitle"> Dogs with short coats and little body fat are vulnerable to the cold. Breeds with short noses cannot pant as well to cool-off. </br>Or if you won't spend too much time outside, perhaps you are looking for the qualities that make a good apartment dog. Which of the following best fits your needs? </h3>
                    <div class="radio">
                        <label><input type="radio" name="trait4" value="Easy To Train">
                        I want my dog to be easy to train.</label></br>
                        <label><input type="radio" name="trait4" value="Easy To Groom"> 
                        I want my dog to be easy to groom.</label></br>
                        <label><input type="radio" name="trait4" value="Good For Novice Owners"> 
                        I want my dog good for novice owners</label>
                    </div>
                    <input type="button" name="next" class="next action-button" value="Next"/>
                </fieldset>
                <fieldset>
                    <h2 class="fs-title">Relationship with Family</h2>
                    <h3 class="fs-subtitle">Perhaps you want your dog to be attentive and affectionate with the family. Or maybe you find a dog that wanders and daydreams adorable! </br>Which of the following best fits what you are looking for? </h3>
                    <div class="radio">
                        <label><input type="radio" name="trait5" value="Affectionate with Family">
                        I want my dog to be affectionate with family.</label></br>
                        <label><input type="radio" name="trait5" value="Intelligence"> 
                        I want my dog to be intelligent.</label></br>
                        <label><input type="radio" name="trait5" value="Wanderlust Potential"> 
                        I want my dog to have a big wanderlust potential.</label>
                    </div>
                    <input type="submit" name="submit" class="submit action-button" value="Submit"/>
                </fieldset>
            </form>
        </div>

        <div class="matches-container"> 

            <h2 class="fs-title"> Traits and dog breeds that match your preference! </h2>

            <div class="row">
                <div class="col-2 top-ten" id="top-ten-breeds"></div>
                <div class="col-4 top-ten">
                    <img id="top-ten-img">
                </div>
                <div class="col-6" id="top-ten-desc" style="height:410px;width:550px;overflow:auto;"></div>  
            </div>

            <div class="trait-tooltips" style="margin:auto">
            {% for trait in traits %} 

                <button id="tooltip-{{ trait[0]|replace(" ", "-") }}" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="{{trait[1]}}">{{trait[0]}}</button>

            {% endfor %}
            </div>
            
        </div>

    </div>
</div>
</br>
</br>
</br>

<div class="container-fluid">
    <div class="row" id="dog-cards">
    {% for dog in dogs %}
        <div class="col-3">
            <div class="card bg-dark text-white">
              <img class="card-img" src="{{dog['photos']}}" alt="Card image">
              <div class="card-img-overlay">
                <h4 class="card-title text-center">{{dog['name'][0:20]}}</h4>
                <p class="card-subtitle text-center" id="breed-info">{{dog['breed']}}</p>
                <p class="card-subtitle text-center" id="hidden-info" style="display:none">
                {% if dog['sex'] == 'M' %}
                    {% set sex = 'Male' %}
                {% else %}
                    {% set sex = 'Female' %}
                {% endif %}

                {{dog['breed']}} </br>
                {{sex}} </br></br>
                Contact Info: </br>
                {{dog['email']}}</br>
                {{dog['phone']}}</br>
                {{dog['city']}}, {{dog['zipcode']}}
                </p>
              </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

{% endblock %}